<html>
    <head>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">
        <script src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured&dummy=.js'></script>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="mathApp">
        <div class="container" ng-controller="MathProblemController">
            <div class="row">
                <div class="col-md-12 panel panel-default">
                    <div class="panel-heading task-name"><h2>{{task.name}}</h2></div>
                    <div class="panel-body task-description"><p>{{task.description}}</p></div>
                </div>
            </div>
            <step-editor ng-hide="commentPhase" ng-repeat="step in steps track by $index" class="row"></step-editor>
            <step-comment-editor ng-show="commentPhase" ng-repeat="step in steps track by $index" class="row"></step-comment-editor>
        </div>
        <navbar class="navbar navbar-fixed-bottom">
            <button ng-click="commentPhase=true" class="btn btn-default">Kommentarer</button>
            <button ng-click="commentPhase=false" class="btn btn-primary">Oppgaver</button>
        </navbar>
        </div>
    </body>
</html>
